/* ABOUT */

.hero2 {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero2-image {
        height: 100%; 
        object-fit: cover;
}

.hero2-content {
        z-index: 10; 
    }

.hero2-content h1 {
        font-size: 9rem; 
        line-height: 1;
    }

    .scrolling-text {
        position: relative;
        background-color: white;
        color: black;
        font-size: 2rem;
        font-weight: bold;
        overflow: hidden;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        white-space: nowrap;
    }
    
    .scrolling-inner {
        display: flex;
        animation: scroll 10s linear infinite;
    }
    
    .scrolling-inner span {
        flex-shrink: 0; /* Evita que los elementos se reduzcan */
        white-space: nowrap; /* Asegura que el texto no se rompa */
    }
    
    @keyframes scroll {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100%);
        }
    }

    /* WHY */

    .why-drink-kombucha {
        background-color: white;
        height: 90%;
            padding-top: 5rem;
            padding-bottom: 5rem !important;
    }

    .why-drink-kombucha h2 {
        font-size: 2.5rem;
        font-weight: bold;
        color: #333;
        margin-bottom: 20px; /* Menos espacio debajo del título */
        margin-top: -20px; /* Ajustar título hacia arriba */
    }

    .why-drink-kombucha img {
        max-width: 80%; /* Hacer los GIFs más pequeños */
        height: auto;
    }

    .why-drink-kombucha p {
        font-size: 1rem;
        color: #555;
        margin-top: 10px;
    }

    .text-left {
        font-size: 7rem;
        font-weight: bold;
        width: auto;
        margin: 0;
        line-height: 1;
        color: #323030;
    }
    
    .ml10 {
        position: relative;
        font-weight: 900;
        font-size: 6rem; /* Tamaño de fuente de acuerdo al texto */
    }
    
    .ml10 .text-wrapper {
        position: relative;
        display: inline-block;
        padding-top: 0.2em;
        padding-right: 0.05em;
        padding-bottom: 0.1em;
        overflow: hidden;
    }
    
    .ml10 .letter {
        display: inline-block;
        line-height: 1em;
        transform-origin: 0 0;
    }
    

    /* IMAGE SLIDE */

    .image-slider {
        position: relative;
        width: 100%; /* Ajusta el ancho de las imágenes */
        height: 500px; /* Ajusta la altura de las imágenes */
        margin: 0 auto; /* Centra las imágenes en el contenedor */
      }
    
      .image-slider img {
        transition: opacity 1s ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; 
        object-fit: cover; 
      }


/* GALLERY */

.gallery-section h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px; /* Menos espacio debajo del título */
    margin-top: -20px; /* Ajustar título hacia arriba */
}

.gallery-img {
    padding: 15px; 
    text-align: center;
  }

  .img-fluid {
    width:300px;
    height: 250px;
    object-fit: cover;
  }

  .hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    -webkit-transform: translatey(-100px);
    -ms-transform: translatey(-100px);
    transform: translatey(-100px);
    -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
    transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
    padding: 10px;
  }
  
  .hovereffect a.info {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    margin: 50px 0 0;
    padding: 7px 14px;
  }

  .hovereffect {
    width: fit-content;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }
  
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
  }
  
  .hovereffect img {
    display: block;    position: relative;    transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);    transform-origin: center;
  }
  
  .hovereffect a.info, .hovereffect button.info {
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    transition: all 0.4s ease;
    margin: 50px 0 0;
    padding: 7px 14px;
  }
  
  .hovereffect:hover img {
    transform: scale(1.2);
  }
  
  .hovereffect:hover .overlay {
    opacity: 1;
  }
  
  .hovereffect:hover h2, .hovereffect:hover a.info, .hovereffect:hover button.info {
    opacity: 1;
    transform: translateY(0);
  }

.modal-body , .modal-header , .modal-footer {
  background-color: var(--white);
}

.modal-header {
  border-bottom: var(--bs-modal-header-border-width) solid #33333340;
}

.modal-footer {
  border-top: var(--bs-modal-header-border-width) solid #33333340;
}

.modal-title {
  color: #333;
}


/* Footer */

.hover-underline li {
    border-bottom: none !important;
  }
  
  .hover-underline li:hover > a {
    border-bottom: 1px solid white;
    padding-bottom: 2px; 
  }
  
  .hover-underline li > a {
    border-bottom: none;
    text-decoration: none; 
  }
  
  .textfooter , .text-uppercase {
    color: white;
  }
  
  .text-center {
    font-size: 13px;
  }