@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    background: #f4f4f4;
}

[data-scroll-container] {
    overflow: hidden;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    position: relative;
}

.titles{
    height: 12vh;
    background-color: #FFD700;
    color: #000;
}

.references{
    margin-top: 1vh;
    font-size: 9vh;
}
.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero-video.zoom {
    transform: translate(-50%, -50%) scale(1.05);
}

.hero-content h1 {
    font-size: 15rem;
    margin-top: -170px;
    /* font-weight: 500; */
    line-height: 1.5;
}


.section2 {
    background: white;;
    position: relative;
}

.scroll-text {
    position: absolute;
    font-size: 4rem;
    font-weight: bold;
    white-space: nowrap;
    color: black;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    padding: 10px;
    transform: rotate(-15deg);
}

.section1 {
    background-color: #FFD700; /* Yellow background */
    padding: 20px 0;
}

.horizontal-scroll-container {
    display: flex; /* Horizontal layout */
    gap: 20px; /* Space between cards */
    width: max-content; /* Ensure the container expands for its content */
    padding: 0 20px;
    position: relative;
}

.card {
    background-color: #fff; /* White background */
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
    height: 426px;
    width: 377px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #000; /* Black text */
}

.card-text {
    font-size: 1rem;
    color: #000; /* Black text */
}

.rating {
    font-size: 1.5rem;
    color: #FFD700; /* Yellow stars */
}

.section4 {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content-container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.custom-card {
    padding: 20px 40px;
    border: 2px solid white;
    border-radius: 15px;
    color: white;
    max-width: 500px;
    backdrop-filter: blur(10px); /* Adds a frosted glass effect */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.1); /* Transparent white */
}

.card-title-section4 {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
}

.card-text-section4 {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 20px;
}

.custom-button {
    background-color: transparent;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.custom-button:hover {
    background-color: white;
    color: black;
}

/* General settings for the section */
.product-section {
    background-color: #FFD700; /* Fondo amarillo */
    color: black; /* Texto negro */
    padding: 50px 0;
    position: relative;
    overflow: hidden;
}

/* Imagen del producto */
model-viewer {
    width: 400px; /* Ancho deseado */
    height: 400px; /* Altura deseada */
    max-width: 100%; /* Opcional: Ajusta al ancho máximo del contenedor */
    max-height: 100%; /* Opcional: Ajusta al alto máximo del contenedor */
    display: block; /* Asegura que se comporte como un bloque */
    margin: auto; /* Centra el elemento horizontalmente */
}

.rating-product{
    color: black;
    margin-bottom: 16px;
}

/* Animaciones generales para el texto */
.product-title,
.product-subtitle,
.product-description,
.rating,
.rating-product {
    opacity: 100;
    transform: translateY(20px); /* Aparece desde abajo */
    transition: all 0.6s ease-out;
}

.in-view {
    opacity: 1;
    transform: translateY(0); /* Llega a su posición original */
}

/* Estilo del título */
.product-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1px;
}

/* Subtítulo del producto */
.product-subtitle {
    font-size: 1.2rem;
    margin-bottom: 1px;
}

/* Precio */
.product-price {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1px;
}

.vat-text {
    font-size: 0.8rem;
    color: gray;
}



.reviews {
    font-size: 0.9rem;
    color: gray;
}

/* Descripción */
.product-description {
    font-size: 1rem;
    margin-bottom: 25px;
    margin-right: 100px;

}

/* Botón */
.explore-btn {
    border: 2px solid black;
    color: black;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease;
}

.explore-btn:hover {
    background-color: #fff;
    color: #000;
}



/* Bottom Navigation */
.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
    background-color: transparent;
}

.menu-button {
    font-size: 2rem;
    background-color: #FFD700;
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    cursor: pointer;
}
.menu-button:hover {
    transform: scale(1.05); /* Efecto hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}


/* Slide-Up Menu */
.slide-menu {
    position: fixed;
    bottom: -300px;
    left: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 20px;
    transition: bottom 0.3s ease;
    z-index: 1001;
}

.slide-menu.active {
    bottom: 0;
}

.slide-menu ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.slide-menu ul li {
    margin: 10px 0;
}

.slide-menu ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #222;
    transition: all 0.3s;
}

.slide-menu ul li a:hover {
    color: #ff7e5f;
}

/* Overlay */
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    transition: all 0.3s ease;
}

.menu-overlay.active {
    opacity: 1;
    visibility: visible;
}

.close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

@media (max-width: 414px) {
    .hero-content h1 {
        font-size: 4rem;
        /* padding: 12px 96px; */
        margin-top: -32px;
    }
}