/* HERO */

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero-video.zoom {
    transform: translate(-50%, -50%) scale(1.05);
}

.hero-content h1 {
    font-size: 6rem; 
}

/* MENU */
.menu-button-container {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
}

.menu-button-container .btn {
    padding: 10px 80px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 50px;
    background-color: #FFD700;
    color: black;
}
